<!-- Razor script to set the page title -->
@{
    ViewBag.Title = "Page 1 - Temperature Conversion";
}

<!-- Page title header -->
<div class="page-header">
    <h2>Page 1 - The F/C/K/N Temperature Converter</h2>
    <!-- Form instructions-->
    <p>Input a number for temperature and select a unit of measurement.</p>
    <p>The temperature can have up to two decimal places.</p>
</div>
<!-- Create the form to get data to the controler -->
<div class="container">
    <form method="get" class="form-horizontal">
        <div class="form-group">
            <label for="temperature">Temperature</label>
            <input type="number" name="temperature" step="0.01" value="" class="form-control" />
        </div>
        <div class="form-group">
            <div class="radio-inline">
                <label for="F">F</label>
                <input type="radio" name="units" id="F" value="F" checked="checked" />
            </div>
            <div class="radio-inline">
                <label for="C">C</label>
                <input type="radio" name="units" id="C" value="C" />
            </div>
            <div class="radio-inline">
                <label for="K">K</label>
                <input type="radio" name="units" id="K" value="K" />
            </div>
            <div class="radio-inline">
                <label for="N">N</label>
                <input type="radio" name="units" id="N" value="N" />
            </div>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </form>
</div>

<!-- If there is a value input my the user populate the conversion list -->
@if (ViewBag.temperature != "" && ViewBag.temperature != null) //do nothing if empty/null value is found
            {
    <div class="alert alert-success">
        <dl>
            <dt class="list-group-item-heading">Provided Temperature: </dt>
            <dd class="list-group-item">@ViewBag.temperature@ViewBag.units</dd>
            <dt class="list-group-item-heading">Converted to @ViewBag.aU:</dt>
            <dd class="list-group-item">@ViewBag.a@ViewBag.aU</dd>
            <dt class="list-group-item-heading">Converted to @ViewBag.bU:</dt>
            <dd class="list-group-item">@ViewBag.b@ViewBag.bU</dd>
            <dt class="list-group-item-heading">Converted to @ViewBag.cU:</dt>
            <dd class="list-group-item">@ViewBag.c@ViewBag.cU</dd>
        </dl>
    </div>
}