@model IEnumerable<ChangeAddressDMV.Models.Request>

@{
    ViewBag.Title = "Current Requests";
}

<div class="page-header text-center">
    <h2>Current Requests</h2>
</div>

<table class="table table-hover table-responsive">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.RequestID)</th>
            <th>@Html.DisplayNameFor(model => model.IDNumber)</th>
            <th>@Html.DisplayNameFor(model => model.FullName)</th>
            <th>@Html.DisplayNameFor(model => model.DOB)</th>
            <th>@Html.DisplayNameFor(model => model.NewResAddr)</th>
            <th>@Html.DisplayNameFor(model => model.NewResCityStateZip)</th>
            <th>@Html.DisplayNameFor(model => model.NewResCounty)</th>
            <th>@Html.DisplayNameFor(model => model.NewMailAddr)</th>
            <th>@Html.DisplayNameFor(model => model.NewMailCityStateZip)</th>
            <th>@Html.DisplayNameFor(model => model.NewMailCounty)</th>
        </tr>
        <tr id="formatHeader">
            <th>#</th>
            <th>#######</th>
            <th>Last, First, Middle</th>
            <th>MM/DD/YYYY</th>
            <th>Residence</th>
            <th>Residence</th>
            <th>Residence</th>
            <th>Mailing (opt)</th>
            <th>Mailing (opt)</th>
            <th>Mailing (opt)</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model) {
            <tr>
                <td>@Html.DisplayFor(ModelItem => item.RequestID)</td>
                <td>@Html.DisplayFor(ModelItem => item.IDNumber)</td>
                <td>@Html.DisplayFor(ModelItem => item.FullName)</td>
                <td>@Html.DisplayFor(ModelItem => item.DOB)</td>
                <td>@Html.DisplayFor(ModelItem => item.NewResAddr)</td>
                <td>@Html.DisplayFor(ModelItem => item.NewResCityStateZip)</td>
                <td>@Html.DisplayFor(ModelItem => item.NewResCounty)</td>
                <td>@Html.DisplayFor(ModelItem => item.NewMailAddr)</td>
                <td>@Html.DisplayFor(ModelItem => item.NewMailCityStateZip)</td>
                <td>@Html.DisplayFor(ModelItem => item.NewMailCounty)</td>
            </tr>
        }
    </tbody>
</table>